<script src=" js/core/jquery.min.js"></script>
<script src=" js/core/popper.min.js"></script>
<script src=" js/core/bootstrap.min.js"></script>
<script src=" js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src=" js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src=" js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src=" js/now-ui-dashboard.js?v=1.0.1"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src=" demo/demo.js"></script>
<script>
    $(document).ready(function () {
        // Javascript method's body can be found in public/js/demos.js
        demo.initDashboardPageCharts();
    });
</script>

<div class="text-center" style="width: 100%" >
    © 2018 All Rights Reserved.
</div>



{{!-- Mohsin Footer --}}
