<form method="post" action="/create_user">
		<p><h5>User ID: </h5></p> <input type="text" name="uid" placeholder="Login ID">
        <p><h5>Name: </h5></p> <input type="text" name="name" placeholder="Name">
		<p><h5>Password: </h5></p> <input type="password" name="password" placeholder="Password">
        <p><h5>Hostel:</h5></p> 
        <select name="hostel_id">
            {{#each hostels}}
                <option value="{{hid}}">{{name}}</option>
            {{/each}}
        </select>
        </h5></p> <input type="checkbox" name="is_admin">Create User as admin
        <br><button >Create User</button>	
</form>