<form method="post" action="/create_hostel">
        <p><h5>Name: </h5></p> <input type="text" name="name" placeholder="Name">
		<p><h5>Description: </h5></p> <input type="text" name="description" placeholder="Enter Description">
        <br><button >Create Hostel</button>	
</form>