<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>            	
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body >
		<div class="devider"></div>
		<div class="login">
			<form action="/RegisterUser" method="POST">
				<table style="padding: 10px;">
					<tr>
						<td>User Id</td>
						<td><input type="text" name="uid"/></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" name="password" id="pass" /></td>
					</tr>
					<!-- <tr>
						<td>Dummy</td>
						<td><input type="text" name="dummy" id="dummy" /></td>
					</tr> -->
					<tr>
						<td>Contact</td>
						<td><input type="text" name="contact"/></td>
					</tr>
					<tr>
						<td>Hostel ID</td>
						<td><input type="text" name="hostel_id"/></td>
					</tr>
					<tr>
						<td>Name</td>
						<td><input type="text" name="name"/></td>
					</tr>
					<tr align="center">
						<td> </td><td align="center"><input type="submit" name="Submit" value="Submit"></td>
					</tr>
				</table>
			</form>
</body>
</html>